<?xml version="1.0"?>
<!--
/**
 * Copyright © Lyra Network.
 * This file is part of Hyvä Compatibility module for PayZen. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-checkout-payzen" xsi:type="array">
                    <item name="original_module" xsi:type="string">Lyranetwork_Payzen</item>
                    <item name="compat_module" xsi:type="string">Lyranetwork_PayzenHyva</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="payzen_standard" xsi:type="object">\Lyranetwork\PayzenHyva\Model\Magewire\Payment\PayzenPlaceOrderService</item>
            </argument>
        </arguments>
    </type>
</config>